@model Epam.DigitalLibrary.LibraryMVC.Models.PatentModels.PatentInputViewModel

@section Scripts {
    <script src="@Url.Content("~/js/js_validation_scripts/patent_validation.js")"></script>
    <script src="@Url.Content("~/js/author_sripts/author_select.js")"></script>
}

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

@{
    var error = TempData["Error"] as string;
}

@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding:20px;">@error</h2>
}

<h4>PatentInputViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" name="patentInputForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group" id="authorFormGroup">
                <label asp-for="Authors" class="control-label"></label>
                @Html.DropDownList("AuthorList",
                    ViewBag.AvailableAuthors as SelectList,
                    "Select author",
                    new { @onchange = "authorSelect(this.value, 0)" })
            </div>

            <div class="form-group">
                <label asp-for="Authors[0].FirstName" class="control-label"></label>
                <input asp-for="Authors[0].FirstName" />
                <span asp-validation-for="Authors[0].FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authors[0].LastName" class="control-label"></label>
                <input asp-for="Authors[0].LastName" />
                <span asp-validation-for="Authors[0].LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label"></label>
                <input asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagesCount" class="control-label"></label>
                <input asp-for="PagesCount" class="form-control" />
                <span asp-validation-for="PagesCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjectNotes" class="control-label"></label>
                <input asp-for="ObjectNotes" class="form-control" />
                <span asp-validation-for="ObjectNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllPatents">Back to List</a>
</div>

