@{
    ViewData["Title"] = "UnauthorizedAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Only authorized users with permissions can see this page</p>

<a asp-controller="Authenticate"
   asp-action="Login">
    LogIn
</a>

<a asp-controller="Authenticate"
   asp-action="Register">
    Register
</a>